<div id="preloader"></div>

<!--==========================
  Hero Section
  ============================-->
<section id="hero">
  <div class="hero-container">
    <div class="wow fadeIn">
      {{> header}}
      <div class="hero-logo">
        <img class="" src="public/img/logo.png" alt="Bunmi Torres Styling logo">
      </div>
      <h1>{{h1Title}}</h1>
      <h2>Personal styling
        <span class="rotating">for your wardrobe, for your shopping, for you :)</span>
      </h2>
      <div class="actions">
        <a href="#contact" class="btn-get-started">Get in touch</a>
        <a href="#services" class="btn-services">Services</a>
      </div>





    </div>
  </div>

  <p> {{msg}}</p>
</section>