<!--==========================
  Services Section
  ============================-->
<section id="services">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">My services</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Check out all the services available!</p>
      </div>
    </div>

    <div class="row">


      <div class="col-md-6 hold">
        <div class="col-md-12 box">
          <div class="col-xs-12">
            <h4 class="service-title">
              <a href="#contact">Personal Styling: Wardrobe</a>
            </h4>
            <p class="service-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis mollitia quaerat illo tempora consequuntur neque
              inventore voluptatibus voluptates voluptatum iste! Ducimus facilis quidem rerum corporis dolor, error quisquam
              pariatur minima.</p>

            <p id="collapse1" class="service-description collapse">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut totam sed doloremque ea quod consequuntur laudantium
              cumque, ipsam excepturi repellendus beatae quae odio vitae aperiam quisquam provident culpa hic eum. Provident
              sunt aliquam aut possimus laboriosam officiis quos porro. Soluta mollitia ratione doloremque totam ducimus
              nobis, dolorum aspernatur dignissimos minus at optio iste dolorem fugit laudantium sed cupiditate. Maxime,
              qui.
            </p>

            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK A SESSION
                </button>
              </a>


            </div>







          </div>


        </div>
      </div>



      <div class=" col-md-6 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">
            <h4 class="service-title ">
              <a href="#contact ">Personal Styling: Shopping</a>
            </h4>
            <p class="service-description ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente dolorem dignissimos perspiciatis sint iste,
              quae ex sit, veritatis molestiae placeat commodi distinctio illum autem rem. Doloremque repudiandae dolor exercitationem
              consequuntur.
            </p>
            <p id="collapse2" class="service-description collapse">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut totam sed doloremque ea quod consequuntur laudantium
              cumque, ipsam excepturi repellendus beatae quae odio vitae aperiam quisquam provident culpa hic eum. Provident
              sunt aliquam aut possimus laboriosam officiis quos porro. Soluta mollitia ratione doloremque totam ducimus
              nobis, dolorum aspernatur dignissimos minus at optio iste dolorem fugit laudantium sed cupiditate. Maxime,
              qui.
            </p>

            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK A SESSION
                </button>
              </a>


            </div>

          </div>
        </div>
      </div>

      <div class="col-md-12 top-buffer"></div>
      <div class="col-md-12 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">
            <h4 class="service-title ">
              <a href="#contact ">Fashion styling</a>
            </h4>
            <p class="service-description ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero fugit facere omnis, odio iure officia modi adipisci
              itaque! Numquam non voluptas fugiat optio placeat debitis possimus nihil nisi sit voluptates.</p>

            <p id="collapse3" class="service-description collapse">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut totam sed doloremque ea quod consequuntur laudantium
              cumque, ipsam excepturi repellendus beatae quae odio vitae aperiam quisquam provident culpa hic eum. Provident
              sunt aliquam aut possimus laboriosam officiis quos porro. Soluta mollitia ratione doloremque totam ducimus
              nobis, dolorum aspernatur dignissimos minus at optio iste dolorem fugit laudantium sed cupiditate. Maxime,
              qui.
            </p>

            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK A SESSION
                </button>
              </a>


            </div>

          </div>
        </div>
      </div>


      <div class="col-md-12 top-buffer"></div>






    </div>




  </div>


</section>